body {
    background-color: #909090;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#app{
    width: 100vw;
    height: 100vh;
}
table {
    width: 800px;
    height: 30px;
    position: relative;
}
table, th, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
}
td img{
    width: 30px;
    height: auto;
}
#addCardBtn ,#edit-btn{
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
}
#add-card {
   width: 30VW;
   float: left;
}
#add-card h2 {
    display: block;
}
#add-card input {
    display: block;
}
.input-text {
    overflow: auto;
    font-size: 1rem;
    width: 25vw;
    border-radius: 10px;
 }
 .input-number{
    font-size: 1rem;
    width: 5vw;
    border-radius: 10px;
 }
 .bigBtn {
     font-size: 3rem;
     border-radius: 10px;
 }
 .img-frame {
     width: 35vw;
     height: 60vh;
     margin-left: 32vw;
     margin-top: 2vh;
 }
 .img-frame img {
     width: 100%;
     border-radius: 15px;
 }